page-about {
    // .toolbar-content   {
    //     background-image: url("../assets/imgs/header.png") !important  ;  
    //      min-width: 100%;
    // }
    @media screen and (min-width: 258px)
    {
        .menu
        {
            color:#ffffff !important;
             font-weight:500 !important; 
             margin-left:-11px !important;
             font-size:25px !important;
             margin-right: 9px;
        }
        .time{
            font-size:.9em !important;
            margin-right: 20px;
        }
       
      .name
        {
            color:#000000;
            font-size:1em !important;
            text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 20px;
        }
        img
    {
        border: 1px solid rgba(230, 230, 230, 0.811765);
        width:100% !important;
        height: 100px !important;
        }
        .wrap
        {
            height: 100px;
                    border: 1px solid rgba(230, 230, 230, 0.811765);
        }
    }
    @media screen and (min-width: 1024px)
    {
        
       
        .time{
            font-size:4em !important;
            margin-right: 20px;
        }
       
      .name
        {
            color:#000000;
            font-size:1.3em !important;
            text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 20px;
        }
        img
    {
        border: 1px solid rgba(230, 230, 230, 0.811765);
        width:100% !important;
        height: 180px !important;
        }
        .wrap
        {
            height: 180px;
                    border: 1px solid rgba(230, 230, 230, 0.811765);
        }
    }
    @media screen and (min-width: 640px)
    {
        
        .time{
            font-size:1.2em !important;
            margin-right: 20px;
        }
       
      .name
        {
            color:#000000;
            font-size:1.3em !important;
            text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 20px;
        }
        img
    {
        border: 1px solid rgba(230, 230, 230, 0.811765);
        height: 145px !important;
        }
        .wrap
        {
            height: 145px;
                    border: 1px solid rgba(230, 230, 230, 0.811765);
        }
    }
     @media screen and (min-width: 700px) and (max-width:999px)
    {
        .time{
            font-size:1.3em !important;
            margin-right: 20px;
        }
       
      .name
        {
            color:#000000;
            font-size:1em !important;
            text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 20px;
        }
        img
    {
        border: 1px solid rgba(230, 230, 230, 0.811765);
        width:180% !important;
        height: 180px !important;
        }
        .wrap
        {
            height: 180px;
                    border: 1px solid rgba(230, 230, 230, 0.811765);
        }
    }
 
    @media screen  and (min-width:900px) and (max-width:1024px){
        
        img
        {
            border: 1px solid rgba(230, 230, 230, 0.811765);
            width:100% !important;
            height: 183px !important;
            }
            .wrap
            {
                height: 183px;
                        border: 1px solid rgba(230, 230, 230, 0.811765);
            }
    }
    
    .name{
        color:#000000;
        font-size:1em ;
        text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 20px;
    }
    ion-app.md [padding] .scroll-content {
        padding: 14px 0px;
    }
    ion-content.content.content-md.has-infinite-scroll {
        background-color: #f5f3f3;
    }
    .msg{
        margin-bottom: 9px;
    }
    ion-icon.icon.icon-md.ion-md-time {
        margin-right: 18px;
    }

    
    ion-icon {
        display: inline-block;
        font-size: 1.2em;
        margin-left: 5px;
    }
    .col {
        padding: 0px; 
        position: relative;
        width: 100%;
        
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        
    }
  
   

 
}
