page-login {
    .scroll-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #ffffff !important;
        -webkit-box-shadow: inset 0 0px 0 0 #ffffff !important;
        box-shadow: inset 0 0px 0 0 #ffffff !important;
    }
    ion-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 100% !important;
    }
    .item-md.item-block .item-inner {
        padding-right: 0px !important;
        border-bottom: 0px solid #ffffff;
    }
    .item-md {
        padding-left: 0px !important;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid #ffffff;
    }
    .label-md {
        margin: 6px 0px 10px 0 !important;
    }
    .label-ios {
        margin: 6px 0px 10px 0 !important;
    }
    // .scroll-content
    // {
    //     overflow: hidden;
    // }
    .form-group {
        margin-bottom: 12px;
    }
    @media screen and (min-width: 320px) {
        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .date {
            margin-top: 3px;
            color: #b3831c;
        }
        .form-control {
            width: 67%;
        }
        .name {
            color: #d63932;
            margin-left: 44px;
            font-size: 16px;
        }
        .phone {
            color: #d63932;
        }
        .car {
            color: #d63932;
        }

        .button1 {
            background-color: #449802;
            // margin-left: 20px;
            // margin-right: 107px;
            width: 119px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }

    @media screen and (min-width: 400px) {
        [col-8] {
            margin-right: -42px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 115% !important;
            text-align: right;
        }

        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .date {
            margin-top: 3px;
            color: #b3831c;
        }
        .form-control {
            width: 74% !important;
        }
        .name {
            color: #d63932;
            margin-left: 44px;
            font-size: 16px;
        }
        .phone {
            color: #d63932;
        }
        .car {
            color: #d63932;
        }

        .button1 {
            background-color: #449802;
            // margin-left: 20px;
            // margin-right: 139px !important;
            width: 119px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }

    @media screen and (min-width: 500px) {
        [col-8] {
            margin-right: -75px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 125% !important;
            text-align: right;
        }
        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .date {
            margin-top: 3px;
            color: #b3831c;
        }
        .form-control {
            width: 79% !important;
        }
        .name {
            color: #d63932;
            margin-left: 44px;
            font-size: 16px;
        }
        .phone {
            color: #d63932;
        }
        .car {
            color: #d63932;
        }

        .button1 {
            background-color: #449802;
            // margin-left: 20px;
            // margin-right: 208px !important;
            width: 119px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }

    @media screen and (min-width: 550px) {
        [col-8] {
            margin-right: -25px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 113% !important;
            text-align: right;
        }
        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .date {
            margin-top: 3px;
            color: #b3831c;
        }
        .form-control {
            width: 79% !important;
        }
        .name {
            color: #d63932;
            margin-left: 44px;
            font-size: 16px;
        }
        .phone {
            color: #d63932;
        }
        .car {
            color: #d63932;
        }

        .button1 {
            background-color: #449802;
            // margin-left: 20px;
            // margin-right: 208px !important;
            width: 119px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }

    @media screen and (min-width: 600px) {
        [col-8] {
            margin-right: -25px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 113% !important;
            text-align: right;
        }
        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .date {
            margin-top: 3px;
            color: #b3831c;
        }
        .form-control {
            width: 82% !important;
        }
        .name {
            color: #d63932;
            margin-left: 44px;
            font-size: 16px;
        }
        .phone {
            color: #d63932;
        }
        .car {
            color: #d63932;
        }

        .button1 {
            background-color: #449802;
            // margin-left: 20px;
            // margin-right: 230px !important;
            width: 119px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width: 450px) and (max-width: 499px) {
        [col-8] {
            margin-right: -55px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 120% !important;
            text-align: right;
        }
        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .date {
            margin-top: 3px;
            color: #b3831c;
        }
        .form-control {
            width: 74% !important;
        }
        .name {
            color: #d63932;
            margin-left: 44px;
            font-size: 16px;
        }
        .phone {
            color: #d63932;
        }
        .car {
            color: #d63932;
        }

        .button1 {
            background-color: #449802;
            // margin-left: 20px;
            // margin-right: 180px !important;
            width: 119px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width: 380px) and (max-width: 399px) {
        [col-8] {
            margin-right: -25px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 113% !important;
            text-align: right;
        }
        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .date {
            margin-top: 3px;
            color: #b3831c;
        }
        .form-control {
            width: 67%;
        }
        .name {
            color: #d63932;
            margin-left: 44px;
            font-size: 16px;
        }
        .phone {
            color: #d63932;
        }
        .car {
            color: #d63932;
        }

        .button1 {
            background-color: #449802;
            // margin-left: 20px;
            // margin-right: 139px;
            width: 119px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width: 524px) {
        [col-8] {
            margin-right: -84px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 125% !important;
            text-align: right;
        }
        .date {
            margin-top: 4px;
        }
        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .grid {
            margin-right: -6px;
        }
        .form-control {
            width: 80%;
        }
        .name {
            color: #d63932;
            margin-left: 4px;
            font-size: 18px;
        }
        .car {
            color: #d63932;
        }
        .phone {
            color: #d63932;
        }
        .button1 {
            background-color: #449802;
            // margin-left: 20px;
            // margin-right: 188px;
            width: 200px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width: 620px) {
        [col-8] {
            margin-right: -121px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 130% !important;
            text-align: right;
        }
    }
    @media screen and (min-width: 690px) {
        [col-8] {
            margin-right: -145px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 132% !important;
            text-align: right;
        }
        .date {
            margin-top: 4px;
        }
        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .grid {
            margin-right: -9px;
        }
        .form-control {
            width: 80%;
        }
        .name {
            color: #d63932;
            margin-left: 44px;
            font-size: 18px;
        }
        .phone {
            color: #d63932;
        }
        .car {
            color: #d63932;
        }

        .button1 {
            background-color: #449802;
            // margin-left: 20px;
            // margin-right: 244px;
            width: 200px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width: 720px) {
        [col-8] {
            margin-right: -155px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 135% !important;
            text-align: right;
        }
        .date {
            margin-top: 4px;
        }
        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .name {
            color: #d63932;
            margin-left: 44px;
            font-size: 18px;
        }
        .phone {
            color: #d63932;
        }
        .button1 {
            background-color: #449802;
            //    margin-left: 20px;
            //    margin-right: 310px !important;
            width: 200px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .grid {
            margin-right: -10px;
            width: 99%;
        }
        .car {
            color: #d63932;
        }
    }
    @media screen and (min-width: 1024px) {
        [col-8] {
            margin-right: -25px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 113% !important;
            text-align: right;
        }
        .date {
            margin-top: 4px;
        }
        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .name {
            color: #d63932;
            margin-left: 44px;
            font-size: 21px;
        }
        .phone {
            color: #d63932;
        }
        .car {
            color: #d63932;
        }
        .button1 {
            background-color: #449802;
            // margin-left: 20px;
            // margin-right: 357px;
            width: 287px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width: 768px) {
        [col-8] {
            margin-right: -172px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 135% !important;
            text-align: right;
        }
        .date {
            margin-top: 4px;
        }
        .form-control {
            width: 78%;
        }
    }
    @media screen and (min-width: 850px) {
        [col-8] {
            margin-right: -190px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 135% !important;
            text-align: right;
        }
    }
    @media screen and (min-width: 1000px) {
        [col-8] {
            margin-right: -240px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 137% !important;
            text-align: right;
        }
        .date {
            margin-top: 4px;
        }
        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .name {
            color: #d63932;
            margin-left: 44px;
            font-size: 21px;
        }
        .phone {
            color: #d63932;
        }
        .car {
            color: #d63932;
        }
        .button1 {
            background-color: #449802;
            // margin-left: 20px;
            // margin-right: 357px !important;
            width: 287px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width: 950px) and (max-width: 999px) {
        [col-8] {
            margin-right: -227px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 138% !important;
            text-align: right;
        }
        .date {
            margin-top: 4px;
        }
        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .name {
            color: #d63932;
            margin-left: 44px;
            font-size: 18px;
        }
        .phone {
            color: #d63932;
        }
        .car {
            color: #d63932;
        }
        .button1 {
            background-color: #449802;
            // margin-left: 20px;
            // margin-right: 357px !important;
            width: 287px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width: 900px) and (max-width: 949px) {
        [col-8] {
            margin-right: -216px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 138% !important;
            text-align: right;
        }
        .date {
            margin-top: 4px;
        }
        .valid {
            color: #080808;
            margin-right: 34%;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .name {
            color: #d63932;
            margin-left: 44px;
            font-size: 18px;
        }
        .phone {
            color: #d63932;
        }
        .car {
            color: #d63932;
        }
        .button1 {
            background-color: #449802;
            // margin-left: 20px;
            // margin-right: 357px !important;
            width: 287px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
}
