page-jop {
    page-maintainance .scroll-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .alert-md .alert-head {
        display: none !important;
    }
    .alert-ios .alert-head {
        display: none !important;
    }
    ion-label {
        margin: 0;
        display: block;
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: inherit;
        text-overflow: ellipsis;
        white-space: unset !important;
    }
    ion-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 100% !important;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #ffffff !important;
        -webkit-box-shadow: inset 0 0px 0 0 #ffffff !important;
        box-shadow: inset 0 0px 0 0 #ffffff !important;
    }
    .item-md.item-block .item-inner {
        padding-right: 0px !important;
        border-bottom: 0px solid #ffffff;
    }
    .select-md .select-icon {
        position: relative !important;
        width: 12px;
        height: 33px !important;
    }
    .select-ios .select-icon {
        position: relative !important;
        width: 12px;
        height: 33px !important;
    }
    .item-md {
        padding-left: 0px !important;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid #ffffff;
    }
    .label-md {
        margin: 6px 0px 10px 0 !important;
    }
    .label-ios {
        margin: 6px 0px 10px 0 !important;
    }
    .select-md {
        padding: 4px 8px 13px 16px !important;
    }
    .select-ios {
        padding: 4px 8px 13px 16px !important;
    }
    .select-md .select-icon .select-icon-inner {
        left: 0px !important;
        top: 50%;
        margin-top: -3px;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        color: #d63932 !important;
        pointer-events: none;
    }

    .scroll-content {
        margin-top: 35px !important;
    }
    .form-group {
        margin-bottom: 12px;
    }
    @media screen and (min-width: 320px) {
        .name {
            margin-left: 6px !important;
        }
        .phone {
            margin-left: 25px !important;
        }

        .cvname {
            color: black;
            max-width: 12px;
            color: black;
            max-width: 214px;
            /* overflow: unset; */
            text-overflow: unset;
            // white-space: nowrap;
            width: 214px;
        }
        .form-control {
            width: 60%;
        }
        .name {
            color: #d63932;
            margin-left: 9px;
            margin-right: -5px;
        }
        .jop {
            color: #d63932;
            margin-left: 4px;
        }
        .cvbutton {
            background-color: #d63932;
            margin-top: -10px;
        }
        .cv {
            color: #d63932;
            margin-left: 4px;
            // font-size: 16px;
            margin-right: -5px;
        }
        .phone {
            color: #d63932;
            margin-left: 26px;
            margin-right: -5px;
        }
        .button1 {
            background-color: #449802;

            // margin-right: 15px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .button2 {
            background-color: #646363;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .valid {
            color: #080808;
            margin-right: 40%;
            margin-top: -3px;
            margin-bottom: 0px;
        }
        .buton {
            background-color: #d63932;
            font-size: 1.1rem;
            text-align: left;
        }
    }
    @media screen and (min-width: 360px) {
        .buton {
            background-color: #d63932;
            font-size: 1.1rem;
            text-align: left;
            width: 100px;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            // width: 113% !important;
            text-align: right;
        }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 113% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .name {
            margin-left: 6px !important;
        }
        .phone {
            margin-left: 25px !important;
        }

        .button1 {
            background-color: #449802;

            // margin-right: 31px;
            color: #ffffff;
            border: 1px solid #d63932;
        }

        .cvname {
            color: black;
            max-width: 12px;
            // margin-right: -39px;
            color: black;
            max-width: 214px;
            /* overflow: unset; */
            text-overflow: unset;
            // white-space: nowrap;
            width: 214px;
        }
    }
    @media screen and (min-width: 380px) {
        .buton {
            background-color: #d63932;
            font-size: 1.2rem;
            text-align: left;
            width: 109px;
        }
        // [col-8]
        // {
        //     margin-right: -34px !important;
        // }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            // width: 117% !important;
            text-align: right;
        }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 117% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .name {
            margin-left: 5px !important;
        }
        .phone {
            margin-left: 24px !important;
        }

        .cvname {
            color: black;
            max-width: 12px;
            // margin-right: -39px;
            color: black;
            max-width: 214px;
            /* overflow: unset; */
            text-overflow: unset;
            // white-space: nowrap;
            width: 214px;
        }
        .form-control {
            width: 70%;
        }
        .name {
            color: #d63932;
            margin-left: 10px;
        }

        .jop {
            color: #d63932;
            margin-left: 5px;
        }
        .phone {
            color: #d63932;
            margin-left: 27px;
        }
        .button1 {
            background-color: #449802;
            //
            // margin-right: 46px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .button2 {
            background-color: #646363;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .valid {
            color: #080808;
            margin-right: 40%;
            margin-top: -3px;
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width: 400px) {
        .buton {
            background-color: #d63932;
            font-size: 1.2rem;
            text-align: left;
            width: 109px;
        }
        // [col-8]
        // {
        //     margin-right: -44px !important;
        // }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            // width: 119% !important;
            text-align: right;
        }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 119% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .name {
            margin-left: 7px !important;
        }
        .phone {
            margin-left: 26px !important;
        }

        .cvname {
            color: black;
            max-width: 12px;
            // margin-right: -55px;
            color: black;
            max-width: 214px;
            /* overflow: unset; */
            text-overflow: unset;
            // white-space: nowrap;
            width: 214px;
        }
        .form-control {
            width: 70%;
        }
        .name {
            color: #d63932;
            margin-left: 10px;
        }

        .jop {
            color: #d63932;
            margin-left: 5px;
        }
        .phone {
            color: #d63932;
            margin-left: 27px;
        }
        .button1 {
            background-color: #449802;

            // margin-right: 65px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .button2 {
            background-color: #646363;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .valid {
            color: #080808;
            margin-right: 40%;
            margin-top: -3px;
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 450px) {
        .buton {
            background-color: #d63932;
            font-size: 1.3rem;
            text-align: left;
            width: 127px;
        }
        // [col-8]
        // {
        //     margin-right: -56px !important;
        // }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            // width: 121% !important;
            text-align: right;
        }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 121% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .name {
            margin-left: 8px !important;
        }
        .phone {
            margin-left: 27px !important;
        }

        .cvname {
            color: black;
            max-width: 12px;
            // margin-right: -55px;
            color: black;
            max-width: 298px;
            /* overflow: unset; */
            text-overflow: unset;
            // white-space: nowrap;
            width: 298px;
        }
        .form-control {
            width: 70%;
        }
        .name {
            color: #d63932;
            margin-left: 10px;
        }

        .jop {
            color: #d63932;
            margin-left: 5px;
        }
        .phone {
            color: #d63932;
            margin-left: 27px;
        }
        .button1 {
            background-color: #449802;

            //  margin-right: 92px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .button2 {
            background-color: #646363;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .valid {
            color: #080808;
            margin-right: 48%;
            margin-top: -3px;
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 524px) {
        .buton {
            background-color: #d63932;
            font-size: 1.5rem;
            text-align: left;
            width: 150px;
        }
        // [col-8]
        // {
        //     margin-right: -80px !important;
        // }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            // width: 125% !important;
            text-align: right;
        }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 125% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .name {
            margin-left: 11px !important;
        }
        .phone {
            margin-left: 30px !important;
        }

        .form-control {
            width: 80%;
        }
        .name {
            color: #d63932;
            margin-left: 4px;
        }
        .jop {
            color: #d63932;
            margin-left: -1px;
        }
        .phone {
            color: #d63932;
            margin-left: 21px;
        }
        .button1 {
            background-color: #449802;

            // margin-right: 120px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .button2 {
            background-color: #646363;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .valid {
            color: #080808;
            margin-right: 54%;
            margin-top: -3px;
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 600px) {
        .coln {
            margin-right: -100px !important;
        }
        // .colb
        // {
        //     margin-right: 100px !important;

        // }
        .buton {
            background-color: #d63932;
            font-size: 1.5rem;
            text-align: left;
            width: 150px;
        }
        // [col-8]
        // {
        //     margin-right: -100px !important;
        // }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            // width: 126% !important;
            text-align: right;
        }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 126% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .name {
            margin-left: 11px !important;
        }
        .phone {
            margin-left: 30px !important;
        }

        .form-control {
            width: 80%;
        }
        .name {
            color: #d63932;
            margin-left: 4px;
        }
        .jop {
            color: #d63932;
            margin-left: -1px;
        }
        .phone {
            color: #d63932;
            margin-left: 21px;
        }
        .button1 {
            background-color: #449802;

            // margin-right: 180px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .button2 {
            background-color: #646363;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .valid {
            color: #080808;
            margin-right: 54%;
            margin-top: -3px;
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width: 690px) {
        .coln {
            margin-right: -136px !important;
        }
        // .colb
        // {
        //     margin-right: 136px !important;

        // }
        .buton {
            background-color: #d63932;
            font-size: 1.5rem;
            text-align: left;
            width: 150px;
        }
        // [col-8]
        // {
        //     margin-right: -136px !important;
        // }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            // width: 132% !important;
            text-align: right;
        }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 132% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .name {
            margin-left: 13px !important;
        }
        .phone {
            margin-left: 30px !important;
        }

        .form-control {
            width: 80%;
        }
        .name {
            color: #d63932;
            margin-left: 27px;
        }
        .jop {
            color: #d63932;
            margin-left: 22px;
        }
        .phone {
            color: #d63932;
            margin-left: 44px;
        }
        .button1 {
            background-color: #449802;

            // margin-right: 220px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .button2 {
            background-color: #646363;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .valid {
            color: #080808;
            margin-right: 43%;
            margin-top: -3px;
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 750px) {
        .coln {
            margin-right: -152px !important;
        }
        // .colb
        // {
        //     margin-right: 152px !important;

        // }
        .buton {
            background-color: #d63932;
            font-size: 1.5rem;
            text-align: left;
            width: 150px;
        }
        // [col-8]
        // {
        //     margin-right: -152px !important;
        // }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            // width: 132% !important;
            text-align: right;
        }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 132% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .name {
            margin-left: 13px !important;
        }
        .phone {
            margin-left: 30px !important;
        }

        .form-control {
            width: 80%;
        }
        .name {
            color: #d63932;
            margin-left: 27px;
        }
        .jop {
            color: #d63932;
            margin-left: 22px;
        }
        .phone {
            color: #d63932;
            margin-left: 44px;
        }
        .button1 {
            background-color: #449802;

            // margin-right: 258px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .button2 {
            background-color: #646363;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .valid {
            color: #080808;
            margin-right: 43%;
            margin-top: -3px;
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width: 800px) {
        .coln {
            margin-right: -170px !important;
        }
        // .colb
        // {
        //     margin-right: 170px !important;

        // }
        .buton {
            background-color: #d63932;
            font-size: 1.5rem;
            text-align: left;
            width: 150px;
        }
        // [col-8]
        // {
        //     margin-right: -170px !important;
        // }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            // width: 132% !important;
            text-align: right;
        }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 132% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .name {
            margin-left: 13px !important;
        }
        .phone {
            margin-left: 30px !important;
        }

        .form-control {
            width: 80%;
        }
        .name {
            color: #d63932;
            margin-left: 27px;
        }
        .jop {
            color: #d63932;
            margin-left: 22px;
        }
        .phone {
            color: #d63932;
            margin-left: 44px;
        }
        .button1 {
            background-color: #449802;

            // margin-right: 200px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .button2 {
            background-color: #646363;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .valid {
            color: #080808;
            margin-right: 43%;
            margin-top: -3px;
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 850px) {
        .coln {
            margin-right: -181px !important;
        }
        // .colb
        // {
        //     margin-right: 181px !important;

        // }
        .buton {
            background-color: #d63932;
            font-size: 1.5rem;
            text-align: left;
            width: 150px;
        }
        // [col-8]
        // {
        //     margin-right: -181px !important;
        // }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            // width: 132% !important;
            text-align: right;
        }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 132% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .name {
            margin-left: 13px !important;
        }
        .phone {
            margin-left: 30px !important;
        }

        .form-control {
            width: 80%;
        }
        .name {
            color: #d63932;
            margin-left: 27px;
        }
        .jop {
            color: #d63932;
            margin-left: 22px;
        }
        .phone {
            color: #d63932;
            margin-left: 44px;
        }
        .button1 {
            background-color: #449802;

            // margin-right: 300px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .button2 {
            background-color: #646363;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .valid {
            color: #080808;
            margin-right: 43%;
            margin-top: -3px;
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 900px) {
        .coln {
            margin-right: -196px !important;
        }
        // .colb
        // {
        //     margin-right: 196px !important;

        // }
        .buton {
            background-color: #d63932;
            font-size: 1.5rem;
            text-align: left;
            width: 150px;
        }
        // [col-8]
        // {
        //     margin-right: -196px !important;
        // }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            // width: 134% !important;
            text-align: right;
        }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 134% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .name {
            margin-left: 13px !important;
        }
        .phone {
            margin-left: 30px !important;
        }

        .form-control {
            width: 80%;
        }
        .name {
            color: #d63932;
            margin-left: 27px;
        }
        .jop {
            color: #d63932;
            margin-left: 22px;
        }
        .phone {
            color: #d63932;
            margin-left: 44px;
        }
        .button1 {
            background-color: #449802;

            // margin-right: 330px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .button2 {
            background-color: #646363;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .valid {
            color: #080808;
            margin-right: 43%;
            margin-top: -3px;
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 950px) {
        .coln {
            margin-right: -215px !important;
        }
        // .colb
        // {
        //     margin-right: 215px !important;

        // }
        .buton {
            background-color: #d63932;
            font-size: 1.5rem;
            text-align: left;
            width: 150px;
        }
        // [col-8]
        // {
        //     margin-right: -215px !important;
        // }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            // width: 135% !important;
            text-align: right;
        }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 135% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .name {
            margin-left: 13px !important;
        }
        .phone {
            margin-left: 30px !important;
        }

        .form-control {
            width: 80%;
        }
        .name {
            color: #d63932;
            margin-left: 27px;
        }
        .jop {
            color: #d63932;
            margin-left: 22px;
        }
        .phone {
            color: #d63932;
            margin-left: 44px;
        }
        .button1 {
            background-color: #449802;

            //  margin-right: 355px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .button2 {
            background-color: #646363;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .valid {
            color: #080808;
            margin-right: 43%;
            margin-top: -3px;
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 1000px) {
        .coln {
            margin-right: -235px !important;
        }
        // .colb
        // {
        //     margin-right: 235px !important;

        // }
        .buton {
            background-color: #d63932;
            font-size: 1.5rem;
            text-align: left;
            width: 150px;
        }
        // [col-8]
        // {
        //     margin-right: -235px !important;
        // }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            // width: 136% !important;
            text-align: right;
        }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 136% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .name {
            margin-left: 14px !important;
        }
        .phone {
            margin-left: 33px !important;
        }

        .form-control {
            width: 82%;
        }
        .name {
            color: #d63932;
            margin-left: 27px;
            font-size: 16px;
        }
        .jop {
            color: #d63932;
            margin-left: 20px;
            font-size: 16px;
        }
        .phone {
            color: #d63932;
            margin-left: 47px;
            font-size: 16px;
        }
        .button1 {
            background-color: #449802;

            // margin-right: 364px;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .button2 {
            background-color: #646363;
            color: #ffffff;
            border: 1px solid #d63932;
        }
        .valid {
            color: #080808;
            margin-right: 43%;
            margin-top: -3px;
            margin-bottom: 0px;
        }
    }
}
