
<ion-header>

    <ion-navbar color="danger" hideBackButton>
     
        
           
            
      <ion-title >نصائح وارشادات</ion-title>
   
      <ion-buttons left>
        <button class="arrow" ion-button icon-only (click)="ViewCtrl.dismiss()">
            <ion-icon name="arrow-back" arrow-dripleft></ion-icon>
        </button>
        </ion-buttons>
        
     
    </ion-navbar>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </ion-header>


<ion-content padding style="background-color:#fdeeee "  #myContent1>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        refreshingSpinner="circles">
        </ion-refresher-content>
      </ion-refresher>
    <ion-grid >
        <div   *ngFor="let item of alldata;let i=index;" class="form-group" style="border: 1px solid #ccc8c7;background-color:#ffffff;  " >
          <ion-col col-12 >
            <ion-row >
                <img [defaultImage]="defaultimage" (click)="showmore(i)" [lazyLoad]="img+item.image" [scrollObservable]="myContent1.ionScroll" class="img" style="    border-bottom: 1px solid #ccc8c7;object-fit: contain;max-height: 100px;" >

                   <!-- <img src="{{img+item.image}}" class="img" (click)="showmore(item.id)"> -->
            </ion-row>
            <div class="form-group" >
              <ion-row>
              <ion-col col-12>
                <span>
              <p class="name"> {{item.name}}</p>
            </span>
            <span>
              <p class="detail"> {{item.description}}</p>
            </span>
            </ion-col>
         
          </ion-row>
          <ion-row>
            <ion-col col-10>

            </ion-col>
            <ion-col col-2>
              <ion-icon name="ios-more" class="more" (click)="showmore(i)"> </ion-icon>

            </ion-col>
          </ion-row>
          </div>
          </ion-col>
    
      
      </div>
      
      </ion-grid>
</ion-content>
