
<ion-header>

  <ion-navbar color="danger" hideBackButton>
      <ion-buttons right>

      <button ion-button icon-only (click)="search()">
          <ion-icon name="search" class="search"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>السيارات</ion-title>
  
    <ion-buttons left>
      <button ion-button icon-only (click)="ViewCtrl.dismiss()">
          <ion-icon name="arrow-back" arrow-dripleft></ion-icon>
      </button>
      </ion-buttons>
      
    
  </ion-navbar>


</ion-header>


<ion-content padding  style="background-color:#fdeeee "  #myContent1 >
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        refreshingSpinner="circles">
        </ion-refresher-content>
      </ion-refresher>
    <ion-row style="width:100%">
      <ion-col col-4 >
    <ion-item class="item1" nolines style="padding: 0px;">
        <ion-label [hidden]="hide" style="color:#d63932;overflow: unset;">  الماركه</ion-label>
      <ion-select  [(ngModel)]="val" (ionChange)="optionsFn(val)" cancelText="الغاء" okText="تم"  >
      
        <ion-option *ngFor="let item of brand_data" value="{{item.id}}" style="padding:0px;color:#d63932" >{{item.name}}</ion-option>
       </ion-select>
    </ion-item>
  
   </ion-col>
   <ion-col col-4>
    <ion-item class="item2" nolines style="padding: 0px;">
        <ion-label  [hidden]="hide1" style="color:#d63932;    overflow: unset;">  الموديل</ion-label>
      <ion-select [(ngModel)]="value" [disabled]="disable1"   (ionChange)="options(value)"  okText="تم" cancelText="الغاء" >
        <ion-option  *ngFor="let item of date" value="{{item.id}}" style="padding:0px ;" >{{item.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-col>
  <ion-col col-4>
  <ion-item class="item2" nolines style="padding: 0px;">
    <ion-label  [hidden]="hide2" style="color:#d63932;    overflow: unset;"> السنه </ion-label>
  <ion-select [(ngModel)]="value1"   (ionChange)="options1(value1)" okText="تم" cancelText="الغاء" >
    <!-- [disabled]="butDisabled1"  -->
   
     
    <ion-option  *ngFor="let item of maufacturedata" value="{{item.id}}" style="padding:0px ;" >{{item.name}}</ion-option>
  </ion-select>
</ion-item>
</ion-col>
  </ion-row>
  <ion-grid style="width:100%">
    
    <h4 *ngIf="show == false" style="    color: #d63932;
    text-align: center;
    margin-top: 200px;
    font-size: 1.8rem;">لا توجد نتائج حاليه للبحث</h4>
  
    <div style="width:100%;background-color: #ffffff;" class="div"  *ngFor="let item of alldata"  >
      <ion-row style="width:100%">
    <ion-col col-4 (click)="opendetails(item.name,item.id)" style="border: 1px solid #d1d0d0;padding: 0px !important;">
      <!-- <img *ngIf="item.images.length > 0" src="{{image+item.images[0].image_name}}" class="img" style="width:100%;height: 150px;"> -->
      <!-- class="img" -->
      <!-- height: 130px;   -->
      <img [defaultImage]="defaultimage" [scrollObservable]="myContent1.ionScroll" [lazyLoad]="image+item.image"  style="    height: 100%;width: 100%; object-fit: contain;max-height: 100px;">

      </ion-col>
    <ion-col col-7 (click)="opendetails(item.name,item.id)" >
      <ion-row>
        <ion-col col-12 style="padding:0px">
        <p class="name"> {{item.name}}&#x200E;</p>
      </ion-col>
      </ion-row>
    <ion-row class="row1">
        <ion-col col-12 style="padding:0px">

        <p *ngIf="!(item.price_after =='')" class="price" style="font-weight: bold;">{{item.price_after}}  ر . س (شامل الضريبه) </p>
        <p *ngIf="(item.price_after =='')" class="price" style="font-weight: bold;">{{item.price}}  ر . س (شامل الضريبه) </p>
 
      </ion-col>
      </ion-row>
    <ion-row class="rows" *ngIf="!(item.engine_capacity==null)">
        <ion-col col-12 style="padding:0px">

        <p class="engin"> سعه المحرك : {{item.engine_capacity}} لتر</p>
        </ion-col>
      </ion-row>
    <ion-row *ngIf="!(item.engine_power==null)">
        <ion-col col-12 style="padding:0px">

        <p class="power"> قوه المحرك : {{item.engine_power}} </p>
        </ion-col>
      </ion-row>
   


    </ion-col>
    <ion-col col-1 class="colicon" style="    margin-right: -15px;">
        <ion-row  style="margin-bottom:0px"  (click)="shareoffer(item.id,item.name,item.price,image+item.images[0].image_name)" >
              <ion-icon ios="md-share" md="md-share" class="share" > </ion-icon>
        </ion-row>
        <ion-row (click)="opendetails(item.name,item.id)">
            <ion-icon name="ios-more" class="more"  > </ion-icon>

          </ion-row>
      </ion-col>
  </ion-row>
  
  </div>
  
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
