<ion-header >

  <ion-navbar color="danger"  style="padding: 0px;min-height: 0px;">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
          <ion-icon name="arrow-back" arrow-dripleft></ion-icon>
      </button>
      </ion-buttons>
        <ion-title>الاشعارات</ion-title> 
  </ion-navbar>

</ion-header>


<ion-content padding>
<p>{{message}}</p>
</ion-content>
