page-paid{
   .scroll-content {
       
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .select-md .select-icon {
        position: relative !important;
        width: 12px;
        height: 33px !important;
      }
      .select-ios .select-icon {
        position: relative !important;
        width: 12px;
        height: 33px !important;
      }
      .select-md {
    padding: 4px 8px 13px 16px !important;
}
   .select-ios {
    padding: 4px 8px 13px 16px !important;
}
.label-md {
    margin: 6px 0px 10px 0 !important;
}
.label-ios {
    margin: 6px 0px 10px 0 !important;
}
.alert-md .alert-radio-label {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: initial;
    padding: 11px 18px !important;
}
.alert-ios .alert-radio-label {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: initial;
    padding: 11px 18px !important; 
}
    
          
  .select-md .select-icon .select-icon-inner {
        left: 0px !important;
        top: 50%;
        margin-top: -3px;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        color: #d63932 !important;
        pointer-events: none;
    }
      .select-ios .select-icon .select-icon-inner {
        left: 0px !important;
        top: 50%;
        margin-top: -3px;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        color: #d63932 !important;
        pointer-events: none;
    }

    .form-group
    {
        margin-bottom: 12px;
    }
    @media screen and (min-width:320px) and (max-width:400px){
       .hint
       { font-size: .667em;}
    }
    @media screen and (min-width:401px) and (max-width:500px){
        .hint
        {
        font-size:.7em;
        }
    }
    @media screen and (min-width:510px) and (max-width:1024px){
        .hint
        {
        font-size: 1em;
        }
    }
    @media screen and (min-width:350px){
        [col-8]
        {
          //  margin-right: -5px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% !important;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100% !important ;
            width: 100% !important;
        }
       
        .pdata {
            font-size: 12px;
            color: #d63932;
            margin-top: -12px;
            // margin-right: -30px !important;
        }
        .button1 {
            background-color: #449802;
          //  margin-right: 40px !important;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width:420px) and (max-width:479px){
        [col-8]
        {
           // margin-right: -24px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% !important;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .pdata {
            font-size: 12px;
            color: #d63932;
            margin-top: -12px;
            // margin-right: -30px !important;
        }
        .button1 {
            background-color: #449802;
           // margin-right: 72px !important;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width:480px) and (max-width:529px) {
        .button3 {
           // margin-right: 39% !important;
            border: 1px solid #d63932;
            background-color: #449802;
            text-align: center;
            color: #ffffff;
        }
        [col-8]
        {
           // margin-right: -42px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% !important;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .form-control
        {
            width:76% !important;
        }
        .pdata {
            font-size: 12px;
            color: #d63932;
            margin-top: -12px;
            // margin-right: -37px !important;
        }
        .button1 {
            background-color: #449802;
           
          //  margin-right: 102px !important;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width:530px) and (max-width:569px) {
        [col-8]
        {
           // margin-right: -58px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% !important;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .form-control
        {
            width:76% !important;
        }
        .pdata {
            font-size: 12px;
            color: #d63932;
            margin-top: -12px;
            // margin-right: -42px !important;
        }
        .button1 {
            background-color: #449802;
           
           // margin-right: 122px !important;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width:570px) and (max-width:599px) {
        [col-8]
        {
          //  margin-right: -68px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% !important;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .form-control
        {
            width:76% !important;
        }
        .pdata {
            font-size: 12px;
            color: #d63932;
            margin-top: -12px;
            // margin-right: -45px !important;
        }
        .button1 {
            background-color: #449802;
           // margin-right: 142px !important;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width:600px) and (max-width:649px) {
        [col-8]
        {
          //  margin-right: -85px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% !important;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .button3
        {
 //margin-right: 40%!important;
  border: 1px solid #d63932;background-color: #449802;text-align: center;color:#ffffff;
        }
        .form-control
        {
            width:81% !important;
        }
        .pdata {
            font-size: 12px;
            color: #d63932;
            margin-top: -12px;
            // margin-right: -45px !important;
        }
        .button1 {
            background-color: #449802;
           // margin-right: 178px !important;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width:650px) and (max-width:699px) {
        [col-8]
        {
           // margin-right: -99px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% !important;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .button3
        {
 //margin-right: 40%!important
 border: 1px solid #d63932;background-color: #449802;text-align: center;color:#ffffff;
        }
        .form-control
        {
            width:83% !important;
        }
        .pdata {
            font-size: 12px;
            color: #d63932;
            margin-top: -12px;
            // margin-right: -51px !important;
        }
        .button1 {
            background-color: #449802;
          //  margin-right: 202px !important;
            color: #ffffff;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width:750px) and (max-width:799px) {
        [col-8]
        {
          //  margin-right: -120px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% !important;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .form-control
        {
            width:83% !important;
        }
        .pdata {
            font-size: 12px;
            color: #d63932;
            margin-top: -12px;
            // margin-right: -61px !important;
        }
        .button1 {
            background-color: #449802;
           // margin-right: 222px !important;
            color: #ffffff;
            font-size: 18px;
            border: 1px solid #d63932;
        }
    }
    

    @media screen and (min-width:800px) and (max-width:849px) {
        [col-8]
        {
          //  margin-right: -130px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% !important;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .form-control
        {
            width:85% !important;
        }
        .pdata {
            font-size: 12px;
            color: #d63932;
            margin-top: -12px;
            // margin-right: -64px !important;
        }
        .button1 {
            background-color: #449802;
           // margin-right: 252px !important;
            color: #ffffff;
            font-size: 18px;
            border: 1px solid #d63932;
        }
    }
    
    @media screen and (min-width:850px)  and (max-width:899px)  {
        [col-8]
        {
           // margin-right: -152px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% !important;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .form-control
        {
            width:85% !important;
        }
        .pdata {
            font-size: 12px;
            color: #d63932;
            margin-top: -12px;
            // margin-right: -68px !important;
        }
        .button1 {
            background-color: #449802;
           // margin-right: 282px !important;
            color: #ffffff;
            font-size: 18px;
            border: 1px solid #d63932;
        }
    }



    @media screen and (min-width:900px)  {
        [col-8]
        {
          //  margin-right: -172px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% !important;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .form-control
        {
            width:87% !important;
        }
        .pdata {
            font-size: 12px;
            color: #d63932;
            margin-top: -12px;
            // margin-right: -73px !important;
        }
        .button1 {
            background-color: #449802;
            margin-left: 3px;
          //  margin-right:313px !important;
            color: #ffffff;
            font-size: 18px;
            border: 1px solid #d63932;
        }
    }
    @media screen and (min-width:320px) {
        [col-8]
        {
          //  margin-right: -5px ;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% ;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100%  ;
            width: 100% ;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .button3
        {
 //margin-right: 30%;
  border: 1px solid #d63932;background-color: #449802;text-align: center;color:#ffffff
        }
        .menu
        {
            color:#ffffff !important;
             font-weight:500 !important; 
             margin-left:-11px !important;
             font-size:25px !important;
             margin-right: -15px;
        }
        .valid
        {
            color: #080808;
            margin-right: 37%;
            margin-top: -5px;
            margin-bottom: 2px;        }
        .button2
             {
               background-color: #646363;color:#ffffff ; border: 1px solid rgba(214, 57, 50, 0.38); 
             }
        .price0
        {
            color:#d63932;
            font-size: 13px;
           // margin-right: -9px;
        }
        .form-control
        {
            width:64%
        }
        .email
        {
            color: #d63932;
            margin-left: -12px;
            /* color: #d63932; */
            /* margin-left: 20px; */
            margin-right: -5px;
        }
        .paid
        {

            color:#d63932;
            margin-left: -9px;
            margin-right: -5px;

        }
        .name
        {
           color:#d63932;
           margin-left:3px;
           margin-right: -5px;
         }
         .remark
        {
           color:#d63932;
           margin-left:23px;
           margin-right: -5px;


         }
         .branch
        {
            color: #d63932;
            margin-left: 40px;
            margin-right: -5px;

         }
         .date
         {
            color:#d63932;
            margin-left:12px;
            margin-right: -5px;

         }
         .delevier
        {
            color: #d63932;
            margin-right: 0px;

        }
         
         .jop
         {
            color:#d63932;
            margin-left:45px;
            margin-right: -5px;

         }
         .phone
         {
            color: #d63932;
            margin-left: 20px;
            margin-right: -5px;

         }
         .ip
         {
            color:#d63932;
            margin-left:17px;
            margin-right: -5px;

         }
             .year
             {
                color: #d63932;
              
                margin-right: 0px;

             }
             .button1
             {
                background-color: #449802;
            //    margin-right: 12px; 
                color:#ffffff ;
                 border: 1px solid #d63932;
             }
             .pdata
              {
                font-size: 12px;
                color: #d63932;
                margin-top: -12px;
                // margin-right: -24px;
              }
    }
    @media screen and (min-width:380px) and (max-width:410px){
      
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% !important;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .valid
        {
            color: #080808;
            margin-right: 37%;
            margin-top: -5px;
            margin-bottom: 2px;        }
        .button2
             {
               background-color: #646363;color:#ffffff ; border: 1px solid rgba(214, 57, 50, 0.38); 
             }
        .price0
        {
            color:#d63932;
            font-size: 15px
        }
        .form-control
        {
            width:70%
        }
      
        .name
        {
           color:#d63932;
           margin-left:4px;

         }
         .remark
        {
           color:#d63932;
           margin-left:24px;

         }
         .branch
        {
           color:#d63932;
           margin-left:39px;

         }
         .date
         {
            color:#d63932;
            margin-left:11px;
         }
         .delevier
        {
            color: #d63932;
       

        }
         
         .jop
         {
            color:#d63932;
            margin-left:46px;
         }
         .phone
         {
            color:#d63932;
            margin-left:21px;

         }
             .year
             {
                color: #d63932;
               

             }
             .button1
             {
                background-color: #449802;
             //   margin-right: 52px !important; 
                color:#ffffff ;
                 border: 1px solid #d63932;
             }
             .pdata
              {
                font-size: 12px;
                color: #d63932;
                margin-top: -12px;
                // margin-right: -62px;
              }
    }
    @media screen and (min-width:524px){
        
        .valid
        {
            color: #080808;
            margin-right: 39%;
            margin-top: -5px;
            margin-bottom: 2px;        }
            .button3 {
              //  margin-right: 39%;
                border: 1px solid #d63932;
                background-color: #449802;
                text-align: center;
                color: #ffffff;
            }
        .price0
        {
            color:#d63932;
            font-size: 15px
        }
        .form-control
        {
            width:79%
        }
      
          .button1
             {
                background-color: #449802;
               // margin-right: 150px ; 
                color:#ffffff ;
                 border: 1px solid #d63932;
             }
             .pdata
              {
                font-size: 12px;
                color: #d63932;
                margin-top: -12px;
                // margin-right: -62px;
              }
    }

    @media screen and (min-width:690px) and (max-width:749px){
        [col-8]
        {
           // margin-right: -110px !important;
        }
        ion-input {
            position: relative;
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100% !important;
            text-align: right;
                }
        ion-select {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            max-width: 100% !important ;
            width: 100% !important;
        }
        [col-6] {
            margin-right: -110px !important;
        }
        .valid
        {
            color: #080808;
            margin-right: 43%;
            margin-top: -5px;
            margin-bottom: 2px;        }
        .price0
        {
            color:#d63932;
            font-size: 15px
        }
        .form-control
        {
            width:84%
        }
      
        .button3
        {
 //margin-right: 40%!important;
  border: 1px solid #d63932;background-color: #449802;text-align: center;color:#ffffff;
        }
             .button2
             {
               background-color: #646363;color:#ffffff ; border: 1px solid rgba(214, 57, 50, 0.38);font-size: 18px 
             }
             .button1
             {
                background-color: #449802;
              //  margin-right: 320px;
                color: #ffffff;
                border: 1px solid #d63932;
                font-size: 18px;
             }
             .pdata
              {
                font-size: 12px;
                color: #d63932;
                margin-top: -12px;
                // margin-right: -56px!important;
              }
            
            }
             
          @media screen and (width:360px) {
            [col-8]
            {
              //  margin-right: -13px !important;
            }
            ion-input {
                position: relative;
                display: block;
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                width: 100% !important;
                text-align: right;
                    }
            ion-select {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                overflow: hidden;
                max-width: 100% !important ;
                width: 100% !important;
            }
            [col-6] {
                margin-right: -110px !important;
            }
            .valid
            {
                color: #080808;
                margin-right: 37%;
                margin-top: -5px;
                margin-bottom: 2px;
}        
            .button2
            {
              background-color: #646363;color:#ffffff ; border: 1px solid rgba(214, 57, 50, 0.38); 
            }
            .button1
            {
               background-color: #449802;
             //  margin-right: 38px; 
               color:#ffffff ;
                border: 1px solid #d63932;
            }
            .pdata
              {
                font-size: 12px;
                color: #d63932;
                margin-top: -12px;
                // margin-right: -62px;
              }
          }
          @media screen and (min-width:768px){
              .colname
              {
                margin-right: -61px;
              }
            
              .pdata
              {
                font-size: 12px;
                color: #d63932;
                margin-top: -12px;
                margin-right: -62px;
              }
            .button1 {
                background-color: #449802;
              //  margin-right: 250px;
                color: #ffffff;
                border: 1px solid #d63932;
                font-size: 18px;
            }
          }
          @media screen and (min-width:1024px){
            [col-8]
            {
              //  margin-right: -110px !important;
            }
            ion-input {
                position: relative;
                display: block;
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                width: 100% !important;
                text-align: right;
                    }
            ion-select {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                overflow: hidden;
                max-width: 100% !important ;
                width: 100% !important;
            }
            [col-6] {
                margin-right: -110px !important;
            }
            .pdata
            {
              font-size: 12px;
              color: #d63932;
              margin-top: -12px;
            //   margin-right: -83px !important;
            }
          .button1 {
              background-color: #449802;
             // margin-right: 365px !important;
              color: #ffffff;
              border: 1px solid #d63932;
              font-size: 21px;
          }
          .button3
          {
            //  margin-right: 46% !important;
          }
        }
        @media screen and (min-width:1000px){
            [col-8]
            {
              //  margin-right: -190px !important;
            }
            ion-input {
                position: relative;
                display: block;
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                width: 100% !important;
                text-align: right;
                    }
            ion-select {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                overflow: hidden;
                max-width: 100% !important ;
                width: 100% !important;
            }
            [col-6] {
                margin-right: -110px !important;
            }
            .pdata
            {
              font-size: 12px;
              color: #d63932;
              margin-top: -12px;
            //   margin-right: -81px !important;
            }
          .button1 {
              background-color: #449802;
            //  margin-right: 400px !important;
              color: #ffffff;
              border: 1px solid #d63932;
              font-size: 18px;
          }
          .form-control
          {
              width:89% !important;
          }
        }


        
    }
    