<ion-header >

    <ion-navbar color="danger" hideBackButton style="padding: 0px;background-image: url(../assets/imgs/header.png);min-height:0px;    min-width: 100%;">
      <ion-row>
          <ion-col col-11>
              <h2 style="margin-right: 18px; color:#ffffff ;margin-top: 10px;font-size:19px ;    margin-right: 10px;">تواصل مع البائع</h2>
            </ion-col>
     <ion-col  col-1 style="margin-top:9px">
         <ion-icon name="menu"  (click)="openmenu()" class="menu"></ion-icon> 
       </ion-col>
       </ion-row>
    </ion-navbar>
   
  </ion-header>


  <ion-content padding style="background-color:#fdeeee ;  margin-top: 8px; ">
      <form [formGroup]="data" >
          <ion-row style="background-color:#fdeeee">
            <ion-col col-4>
                  <ion-label style="color:#d63932">الاسم بالكامل </ion-label>
            </ion-col>
            <ion-col col-8>
                <ion-input text-right  type="text" (focus)="delname()"  id="email"  name="email" style="border:1px solid rgba(214, 57, 50, 0.58); height:35px ;background-color: #ffffff  " formControlName="name" minlength="6">
                </ion-input>
           
            </ion-col>
        </ion-row>
          
          <ion-row *ngIf="(name.hasError('required') && name.touched) ||  namee=='true'">
              <ion-col col-4></ion-col>
              <ion-col col-8 style="margin-top: -14px;margin-bottom: -11px;">
              <p style="color: #d63932;"> *  من فضلك ادخل الاسم كاملا</p>
              
              </ion-col>
           </ion-row>
           <ion-row *ngIf=" (name.hasError('minlength') && name.touched) || namee=='true'">
            <ion-col col-4></ion-col>
            <ion-col col-8 style="margin-top: -14px;margin-bottom: -11px;">
            <p style="color: #d63932;"> *  الاسم يجب ان لا يقل عن ٦ حروف</p>
            
            </ion-col>
         </ion-row>

          <ion-row style="background-color:#fdeeee">
            <ion-col col-4>
              <ion-label   style=" color:#d63932 ">  ماركة السياره</ion-label>
            </ion-col>
            <ion-col col-8>
              <ion-select (ionChange)="optionsFn()" okText="تم" cancelText="الغاء" style=" height:35px;border:1px solid rgba(214, 57, 50, 0.58) ; background-color: #ffffff ;"  formControlName="mark">
                  <ion-option value="" disabled [hidden]="true" selected style="color:gray"> اختر الماركه</ion-option>

                <ion-option *ngFor="let item of brand_data" style="padding:0px" value="{{item.id}}">{{item.name}}</ion-option>
              </ion-select>
            </ion-col>
            </ion-row>
           
          <ion-row *ngIf="(mark.hasError('required') && mark.touched) || maark=='true'">
              <ion-col col-4></ion-col>
              <ion-col col-8 style="margin-top: -14px;margin-bottom: -11px;">
              <p style="color: #d63932;" >* قم باختيار الماركه</p>
              </ion-col>
           </ion-row>
          <ion-row style="background-color:#fdeeee">
            <ion-col col-4>
              <ion-label  style=" color:#d63932 "> موديل السياره</ion-label>
            </ion-col>
            <ion-col col-8>
              <ion-select  okText="تم" (ionChange)="delmodel()" cancelText="الغاء" style=" height:35px;border:1px solid rgba(214, 57, 50, 0.58); background-color: #ffffff ;"  formControlName="model">
                  <ion-option value="" disabled [hidden]="true" selected style="color:gray"> اختر الموديل</ion-option>

                <ion-option *ngFor="let item of alldata" style="padding:0px" value="{{item.id}}">{{item.name}}</ion-option>
              </ion-select>
            </ion-col>
          </ion-row>
           
             
            <ion-row *ngIf="(model.hasError('required') &&model.touched) || modeel=='true'">
                <ion-col col-4></ion-col>
                <ion-col col-8 style="margin-top: -14px;margin-bottom: -11px;">
              <p style="color: #d63932;" >* قم باختيار الموديل</p>
                </ion-col>
            </ion-row>
          <ion-row style="background-color:#fdeeee">
            <ion-col col-4>
                <ion-label  style=" color:#d63932 "> سنة الصنع</ion-label>
            </ion-col>
            <ion-col col-8>
                <ion-select  okText="تم" cancelText="الغاء" (ionChange)="delyear()"  id="exampleFormControlSelect1" style=" height:35px;border:1px solid rgba(214, 57, 50, 0.58) ; background-color: #ffffff ;"  formControlName="year">
                    <ion-option value="" disabled [hidden]="true" selected style="color:gray"> اختر السنة</ion-option>

                  <ion-option *ngFor="let item of yeardata" style="padding:0px" value="{{item.id}}">{{item.name}}</ion-option>
                  </ion-select>
            </ion-col>
          </ion-row>
           
            <ion-row *ngIf="(year.hasError('required') &&year.touched) || yeaar=='true'">
                <ion-col col-4></ion-col>
                <ion-col col-8 style="margin-top: -14px;margin-bottom: -11px;">
              <p style="color: #d63932;" >* قم باختيار السنه</p>
                </ion-col>
            </ion-row>
            <!-- (focus)="deldata()" -->

            <ion-row style="background-color:#fdeeee">
              <ion-col col-4>
                  <ion-label style=" color:#d63932 " >رقم الجوال</ion-label>
              </ion-col>
              <ion-col col-8>
                  <!-- <ion-row style="    background-color: #fdeeee;"> -->
                  <ion-input (focus)="delphone()" placeholder="00966xxxxxxxxx" (input)="changeTxt()" text-right style="-webkit-text-security:disc;" pattern="[0-9]*" type="tel"    maxLength="14" minlength="14"  id="email"  name="email" style="border:1px solid rgba(214, 57, 50, 0.58); height:35px ;background-color: #ffffff ;    " formControlName="phone">
                  </ion-input>
                <!-- </ion-row> -->
              </ion-col>
                  </ion-row>
                      <!-- <ion-row *ngIf="(phone.hasError('required') &&phone.touched) || phonee=='true'">
                          <ion-col col-4></ion-col>
                          <ion-col col-8 style="margin-top: -14px;margin-bottom: -11px;">
                        <p style="color: #d63932;" >* من فضلك ادخل رقم الجوال</p></ion-col>
                      </ion-row>

                      <ion-row *ngIf="(phone.hasError('minlength') &&phone.touched) || (phone.hasError('maxlength') &&phone.touched)  || phonee=='true'">
                        <ion-col col-4></ion-col>
                        <ion-col col-8 style="margin-top: -14px;margin-bottom: -11px;">
                      <p style="color: #d63932;" >* رقم الجوال يجب أن مكون من ١٤ رقم</p></ion-col>
                    </ion-row> -->

                    <ion-row *ngIf="(phone.hasError('required') &&phone.touched) || (phone.hasError('minlength') &&phone.touched) || (phone.hasError('maxlength') &&phone.touched)  || phonee=='true'">
                      <ion-col col-4></ion-col>
                      <ion-col col-8 style="margin-top: -14px;margin-bottom: -11px;">
                        <p style="color: #d63932;" >* من فضلك ادخل رقم جوال مكون من ١٤ رقم</p></ion-col>
                  </ion-row>

                    


                    <ion-row style="background-color:#fdeeee">
                      <ion-col col-4>
                            <ion-label style="color:#d63932">رقم الهيكل </ion-label>
                      </ion-col>
                      <ion-col col-7>
                         
                        <ion-input text-right  type="text" (focus)="delname()"  id="StructureNo"  name="StructureNo" style="border:1px solid rgba(214, 57, 50, 0.58); height:35px ;background-color: #ffffff ; " formControlName="StructureNo">
                          </ion-input>
                     
                          <!-- <ion-input text-right  type="text" (focus)="delname()"  id="StructureNo"  name="StructureNo" style="border:1px solid rgba(214, 57, 50, 0.58); height:35px ;background-color: #ffffff  " formControlName="name">
                          </ion-input> -->
                      </ion-col>
                      <ion-col col-1 style="padding: 0px;text-align: center;">
                        <ion-icon name="camera" style="color:#d63932;font-size:20px;margin-top: 10px;" (click)="presentActionSheet()"></ion-icon>
                      </ion-col>
                  </ion-row>
                 
                  

  <ion-row *ngIf="structureImg" >
    <ion-col col-4></ion-col>
    <ion-col col-4 *ngIf="structureImg" style="text-align:right">

        <ion-icon name="md-close" class="deleteIcon" (click)="deletePhoto()"></ion-icon>
        <img [src]="structureImg" *ngIf="structureImg" style="width:90px;height:80px" (click)="openImg(structureImg)"/>

    </ion-col>
    <!-- <ion-col col-2></ion-col> -->
</ion-row>

<!-- 
 <ion-item no-lines style="border-radius: 10px;margin-top: 20px;border: 2px solid lightgray;margin-right: 15px;margin-left: 15px;width: 90%;z-index: 998;">
      <ion-icon item-start name="ios-phone-portrait-outline"></ion-icon>
     
      <ion-input   type="tel"   (input)="changeTxt()"  [dir]="langdirection" formControlName="phone1" placeholder="00966xxxxxxxxx" style="z-index: 999;
      width: 100%;
      height: 100%;" ></ion-input>
    </ion-item> 

    <ion-row>
      <ion-col>
          <div class="error-message" *ngIf="loginForm.controls['phone'].errors?.required &&
          loginForm.controls['phone'].touched">
          fieldrequired
        </div>
        <div class="error-message" *ngIf="loginForm.controls['phone'].errors?.minlength || 
        loginForm.controls['phone'].errors?.maxlength">
          {{'invalidphone'}}
        </div>
      </ion-col>
    </ion-row> -->



    <!-- [disabled]="isenabled" -->
<!-- class="button1" -->
            <p style="text-align: center;">
             <!-- d {{isenabled}} -->
                <button ion-button round outline style=" background-color: #449802;color:#ffffff ;border: 1px solid #d63932;"  [disabled]="isenabled" (click)="confirmorder()">
بدء المحادثه               
 </button>
           
</p>
      </form>


</ion-content>
