page-chat {
    .scroll-content {
      
        // padding-left: 0 !important;
      
    }
    .alert-md .alert-head{
        display:none !important;
      }
      .alert-ios .alert-head{
        display:none !important;
      }
    ion-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 100% !important;
        width: 100% !important;}
      .select-md {
    padding: 4px 8px 13px 16px !important;
}
.select-md .select-icon .select-icon-inner {
    left: 0px !important;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #d63932 !important;
    pointer-events: none;
}
.select-ios.select-icon .select-icon-inner {
    left: 0px !important;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #d63932 !important;
    pointer-events: none;
}
   .select-ios {
    padding: 4px 8px 13px 16px !important;
}
.label-md {
    margin: 6px 0px 10px 0 !important;
}
.label-ios {
    margin: 6px 0px 10px 0 !important;
}
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
     border-bottom-color: #ffffff !important;  
 -webkit-box-shadow: inset 0 0px 0 0 #ffffff !important; 
    box-shadow: inset 0 0px 0 0 #ffffff !important; 
}

       ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 100% !important; 
}
    .item-md.item-block .item-inner {
    padding-right: 0px !important;
    border-bottom: 0px solid #ffffff;
}
     .item-md {
     padding-left: 0px !important;
        }
        .item-md.item-block .item-inner {
    padding-right: 8px;
     border-bottom: 0px solid #ffffff;
}
 
    .scroll-content
    {
        overflow: hidden;
    }
    .valid
    {
             color: #080808;
    margin-right: 44%;
    margin-top: 0px;
    margin-bottom: 0px;
    }
    .form-control
    {
        width:64%
    }
    .form-group
    {
        margin-bottom: 12px;
    }
    .cyear
    {
        color:#d63932 ;margin-top:5px ; padding:0px ;  font-size:16px; margin-right:-1px ;z-index:1
    }
    .cmodel
    {
        color:#d63932 ;margin-top:5px ; padding:0px ;  font-size:16px; margin-right:-1px ;z-index:1
    }
    .cmark
    {
        color:#d63932 ;margin-top:5px ; padding:0px ;  font-size:16px; margin-right:-1px ;z-index:1
    }
    .name
    {
        color:#d63932 ;margin-top:5px ; padding:0px ; margin-left: 40px; font-size:16px;margin-right: 3px;
    }
    .toolbar-content   {
        background-image: url("../assets/imgs/header.png") !important  ;  
         min-width: 100%;
    }
    .row2
    {
       margin-top: -10px
    }
    .alert-md .alert-radio-icon {
        left: 13px;
        top: 0;
        border-radius: 50%;
        position: relative;
        display: none !important;
        width: 16px;
        height: 16px;
        border-width: 2px;
        border-style: solid;
        border-color: #787878;
    }
    .row3
    {
        .item-md.item-block .item-inner
        {
            border-bottom: none;
        }
        width: 105.9%;
      margin-top: 13px;
      ion-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 57.5%;
    }
}
.text-input-md {
    margin: 5px 8px !important;
    padding: 0;
    width: calc(100% - 8px - 8px);
    font-size: 16px;
}
.select-md .select-icon {
    position: relative !important;
    width: 12px;
    height: 33px !important;
  }
  .select-ios .select-icon {
    position: relative !important;
    width: 12px;
    height: 33px !important;
  }
.select-md {
    padding: 0px 9px 0px 8px;
}
.select-ios {
    padding: 5px 9px 0px 8px;
}
.select-ios.select-icon {
    position: relative;
    width: 12px;
    height:auto;
}
    .button1
    {
       background-color: #449802;
      // margin-left: 19px;
       //margin-right: 89px; 
       color:#ffffff ;
        border: 1px solid #d63932;
    }
    .in
    {
        border:1px solid #d63932; height:35px ;background-color: #ffffff 
    }
//     @media screen  and (min-width:320px){
        
//         .menu
//         {
//             color:#ffffff !important;
//              font-weight:500 !important; 
//              margin-left:-11px !important;
//              font-size:25px !important;
//              margin-right: -15px;
//         }
//         .form-control
//         {
//             width:63%
//         }
//         .valid
//         {
//                 color: #080808;
//     margin-right: 44%;
//     margin-top: 0px;
//     margin-bottom: 0px;
//         }
    
//         .cyear
//         {
//            color: #d63932;
//     margin-top: 5px;
//     padding: 0px;
//     font-size: 14px;
//     margin-right: 0px;
//     z-index: 1;
//     margin-left: 35px;
//                 }
//         .cmodel
//     {
//         color: #d63932;
//         margin-top: 5px;
//         padding: 0px;
//         font-size: 14px;
//         margin-right: -2px;
//         z-index: 1;
//         margin-left: 18px;
//     }
//         .in
//         {
//             border:1px solid #d63932; height:35px ;background-color: #ffffff ;width:715px
//         }
//         .button1
//     {
//         background-color: #449802;
//       //  margin-left: 19px;
//         color: #ffffff;
//         border: 1px solid #d63932;
//       //  margin-right: 130px;
//     }
//         .colm
//         {
//             width: 45.66667%;
//             max-width: 24.66667%;
//         }
//         .name
//         {
//             color: #d63932;
//             margin-top: 5px;
//             padding: 0px;
//             margin-left: 9px;
//             font-size: 14px;
//             margin-right: -6px;
//         }
//         .row2
//     {
//        margin-top: -10px
//     }
//     .cmark{
//         color: #d63932;
//         margin-top: 5px;
//         padding: 0px;
//         font-size: 14px;
//         margin-right: -1px;
//         z-index: 1;
//         margin-left: 21px;
//     }
//     .alert-md .alert-radio-icon {
//         left: 13px;
//         top: 0;
//         border-radius: 50%;
//         position: relative;
//         display: none !important;
//         width: 16px;
//         height: 16px;
//         border-width: 2px;
//         border-style: solid;
//         border-color: #787878;
//     }
//     .row3
//     {
//         .item-md.item-block .item-inner
//         {
//             border-bottom: none;
//         }
//         width: 99.9%;
//       margin-top: 13px;
//       ion-select {
//         display: -webkit-box;
//         display: -webkit-flex;
//         display: -ms-flexbox;
//         display: flex;
//         overflow: hidden;
//         max-width:75%;
//     }
//     .cmark
//     {
//         color: #d63932;
//         margin-top: 5px;
//         padding: 0px;
//         font-size: 14px;
//         margin-right: -1px;
//         z-index: 1;
//         margin-left: 22px;    }
// }
//     }
//     @media screen and (min-width:380px) {
        
//         [col-8]
//         {
//             margin-right: -30px !important;
//         }

//         [col-7]
//         {
//             margin-right: -30px !important;
//         }

//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 115% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 115% !important ;
//             width: 115% !important;
//         }
               
//         .button1
//         {
//             background-color: #449802;
//            // margin-left: 19px;
//             color: #ffffff;
//             border: 1px solid #d63932;
//            // margin-right: 126px;
//         }
   
//     }

//     @media screen and (min-width:400px) {
//         [col-8]
//         {
//             margin-right: -34px !important;
//         }
//         [col-7]
//         {
//             margin-right: -34px !important;
//         }
        
//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 116% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 116% !important ;
//             width: 116% !important;
//         }
//         [col-6] {
//             margin-right: -110px !important;
//         }
//         .button1
//         {
//             background-color: #449802;
//           //  margin-left: 19px;
//             color: #ffffff;
//             border: 1px solid #d63932;
//            // margin-right: 140px;
//         }
//         .form-control
//         {
//             width:70%;
//         }
//     }

//     @media screen and (min-width:450px) {
//         [col-8]
//         {
//             margin-right: -52px !important;
//         }
//         [col-7]
//         {
//             margin-right: -52px !important;
//         }

//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 123% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 123% !important ;
//             width: 123% !important;
//         }
//         [col-6] {
//             margin-right: -110px !important;
//         }
//         .button1
//         {
//             background-color: #449802;
//           //  margin-left: 19px;
//             color: #ffffff;
//             border: 1px solid #d63932;
//           //  margin-right: 170px;
//         }
//         .form-control
//         {
//             width:75%;
//         }
//     }
//     @media screen and (min-width:500px) {
//         [col-8]
//         {
//             margin-right: -52px !important;
//         }
//         [col-7]
//         {
//             margin-right: -52px !important;
//         }
//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 123% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 123% !important ;
//             width: 123% !important;
//         }
//         [col-6] {
//             margin-right: -110px !important;
//         }
//         .button1
//         {
//             background-color: #449802;
//           //  margin-left: 19px;
//             color: #ffffff;
//             border: 1px solid #d63932;
//            // margin-right: 200px;
//         }
//         .form-control
//         {
//             width:75%;
//         }
//     }
//     @media screen and (min-width:550px) {
//         [col-8]
//         {
//             margin-right: -83px !important;
//         }
//         [col-7]
//         {
//             margin-right: -83px !important;
//         }

//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 125% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 125% !important ;
//             width: 125% !important;
//         }
//         [col-6] {
//             margin-right: -110px !important;
//         }
//         .button1
//         {
//             background-color: #449802;
//           //  margin-left: 19px;
//             color: #ffffff;
//             border: 1px solid #d63932;
//           //  margin-right: 230px;
//         }
//         .form-control
//         {
//             width:80%;
//         }
//     }
//     @media screen and (min-width:600px) {
//         [col-8]
//         {
//             margin-right: -100px !important;
//         }
//         [col-7]
//         {
//             margin-right: -100px !important;
//         }

//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 126% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 126% !important ;
//             width: 126% !important;
//         }
//         [col-6] {
//             margin-right: -110px !important;
//         }
//         .button1
//         {
//             background-color: #449802;
//           //  margin-left: 19px;
//             color: #ffffff;
//             border: 1px solid #d63932;
//           //  margin-right: 213px;
//             width: 170px;
//         }
//         .form-control
//         {
//             width:80%;
//         }
//     }
//     @media screen and (min-width:650px) {
//         [col-8]
//         {
//             margin-right: -115px !important;
//         }
//         [col-7]
//         {
//             margin-right: -115px !important;
//         }

//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 128% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 128% !important ;
//             width: 128% !important;
//         }
//         [col-6] {
//             margin-right: -110px !important;
//         }
//         .button1
//         {
//             background-color: #449802;
//            // margin-left: 19px;
//             color: #ffffff;
//             border: 1px solid #d63932;
//           //  margin-right: 256px;
//             width: 170px;
//         }
//         .form-control
//         {
//             width:83%;
//         }
//     }
//     @media screen and (min-width:700px) {
//         [col-8]
//         {
//             margin-right: -128px !important;
//         }
//         [col-7]
//         {
//             margin-right: -128px !important;
//         }
//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 129% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 129% !important ;
//             width: 129% !important;
//         }
//         [col-6] {
//             margin-right: -110px !important;
//         }
//         .button1
//         {
//             background-color: #449802;
//           //  margin-left: 19px;
//             color: #ffffff;
//             border: 1px solid #d63932;
//          //   margin-right: 290px;
//             width: 170px;
//         }
//         .form-control
//         {
//             width:84%;
//         }
//     }
//     @media screen  and (min-width:1024px){
//         [col-8]
//         {
//             margin-right: -110px !important;
//         }
//         [col-7]
//         {
//             margin-right: -110px !important;
//         }

//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 123% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 123% !important ;
//             width: 123% !important;
//         }
//         [col-6] {
//             margin-right: -110px !important;
//         }
//         .form-control
//         {
//             width:82%
//         }
//         .valid
//         {
//                color: #080808;
//     margin-right: 44%;
//     margin-top: 0px;
//     margin-bottom: 0px;
//         }
    
//         .cyear
//         {
//             color: #d63932;
//             margin-top: 5px;
//             padding: 0px;
//             font-size: 18px;
//             margin-right: 0px;
//             z-index: 1;
//             margin-left: 84px;
//                 }
//         .cmodel
//     {
//         color: #d63932;
//         margin-top: 5px;
//         padding: 0px;
//         font-size: 18px;
//         margin-right: -1px;
//         z-index: 1;
//         margin-left: 60px;    }
//         .in
//         {
//             border:1px solid #d63932; height:35px ;background-color: #ffffff ;width:715px
//         }
//         .button1
//     {
//         background-color: #449802;
//        // margin-left: 19px;
//       //  margin-right: 463px;
//         color: #ffffff;
//         border: 1px solid #d63932;
//         width: 248px;
//     }
//         .colm
//         {
//             width: 45.66667%;
//             max-width: 24.66667%;
//         }
//         .name
//         {
//             color: #d63932;
//             margin-top: 5px;
//             padding: 0px;
//             margin-left: 49px;
//             font-size: 18px;
//             margin-right: -3px;        }
//         .row2
//     {
//        margin-top: -10px
//     }
//     .cmark{
//         color: #d63932;
//         margin-top: 5px;
//         padding: 0px;
//         font-size: 18px;
//         margin-right: -1px;
//         z-index: 1;
//         margin-left: 66px;
//     }
//     .alert-md .alert-radio-icon {
//         left: 13px;
//         top: 0;
//         border-radius: 50%;
//         position: relative;
//         display: none !important;
//         width: 16px;
//         height: 16px;
//         border-width: 2px;
//         border-style: solid;
//         border-color: #787878;
//     }
//     .row3
//     {
//         .item-md.item-block .item-inner
//         {
//             border-bottom: none;
//         }
//         width: 99.9%;
//       margin-top: 13px;
//       ion-select {
//         display: -webkit-box;
//         display: -webkit-flex;
//         display: -ms-flexbox;
//         display: flex;
//         overflow: hidden;
//         max-width:75%;
//     }
//     .cmark
//     {
//         color:#d63932 ;margin-top:5px ; padding:0px ;  font-size:21px; margin-right:-1px ;z-index:1
//     }
// }
//     }


//     @media screen  and (min-width:1000px) and (max-width:1023px){
//         [col-8]
//         {
//             margin-right: -220px !important;
//         }
//         [col-7]
//         {
//             margin-right: -220px !important;
//         }
        
//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 134% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 134% !important ;
//             width: 134% !important;
//         }
//         [col-6] {
//             margin-right: -110px !important;
//         }   
//         .valid
//         {
//               color: #080808;
//     margin-right: 44%;
//     margin-top: 0px;
//     margin-bottom: 0px;
//         }
//         .form-control
//         {
//             width:82%
//         }
//         .cyear
//         {
//             color: #d63932;
//             margin-top: 5px;
//             padding: 0px;
//             font-size: 18px;
//             margin-right: -1px;
//             z-index: 1;
//             margin-left: 108px;        }
//         .cmodel
//     {
//         color: #d63932;
//         margin-top: 5px;
//         padding: 0px;
//         font-size: 18px;
//         margin-right: -1px;
//         z-index: 1;
//         margin-left: 58px;    }
//         .cmark
//     {
//         margin-top: 5px;
//         padding: 0px;
//         font-size: 18px;
//         margin-right: -1px;
//         z-index: 1;
//         margin-left: 65px;    }
//         .in
//         {
//             border:1px solid #d63932; height:35px ;background-color: #ffffff ;width:715px
//         }
//         .button1
//     {
//         background-color: #449802;
//        // margin-left: 8px;
//        // margin-right: 430px;
//         color: #ffffff;
//         border: 1px solid #d63932;
//         width: 248px;
//         font-size: 18px;
//     }
//         .colm
//         {
//             width: 45.66667%;
//             max-width: 24.66667%;
//         }
//         .name
//         {
//             color:#d63932 ;margin-top:5px ; padding:0px ; margin-left: 49px; font-size:18px;margin-right: -5px;
//         }
//         .row2
//     {
//        margin-top: -10px
//     }
//     .alert-md .alert-radio-icon {
//         left: 13px;
//         top: 0;
//         border-radius: 50%;
//         position: relative;
//         display: none !important;
//         width: 16px;
//         height: 16px;
//         border-width: 2px;
//         border-style: solid;
//         border-color: #787878;
//     }
//     .row3
//     {
//         .item-md.item-block .item-inner
//         {
//             border-bottom: none;
//         }
//         width: 99.9%;
//       margin-top: 13px;
//       ion-select {
//         display: -webkit-box;
//         display: -webkit-flex;
//         display: -ms-flexbox;
//         display: flex;
//         overflow: hidden;
//         max-width:75%;
//     }
// }
//     }



//     @media screen  and (min-width:767px) and (max-width:849px){
//         [col-8]
//         {
//             margin-right: -150px !important;
//         }
//         [col-7]
//         {
//             margin-right: -150px !important;
//         }

//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 130% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 130% !important ;
//             width: 130% !important;
//         }
//         [col-6] {
//             margin-right: -110px !important;
//         }
//         .valid
//         {
//                color: #080808;
//     margin-right: 44%;
//     margin-top: 0px;
//     margin-bottom: 0px;
//         }
//         .form-control
//         {
//             width:79%
//         }
//         .cyear
//         {
//             color: #d63932;
//             margin-top: 5px;
//             padding: 0px;
//             font-size: 18px;
//             margin-right: -1px;
//             z-index: 1;
//             margin-left: 66px;        }
//         .cmodel
//     {
//         color: #d63932;
//     margin-top: 5px;
//     padding: 0px;
//     font-size: 18px;
//     margin-right: -1px;
//     z-index: 1;
//     margin-left: 41px;    }
//         .cmark
//     {
//         margin-top: 5px;
//         padding: 0px;
//         font-size: 18px;
//         margin-right: -1px;
//         z-index: 1;
//         margin-left: 46px;    }
//         .in
//         {
//             border:1px solid #d63932; height:35px ;background-color: #ffffff ;width:715px
//         }
//         .button1
//     {
//         background-color: #449802;
//         // margin-left: 8px;
//         // margin-right: 300px;
//         color: #ffffff;
//         border: 1px solid #d63932;
//         width: 248px;
//         font-size: 18px;
//     }
//         .colm
//         {
//             width: 45.66667%;
//             max-width: 24.66667%;
//         }
//         .name
//         {
//             color: #d63932;
//             margin-top: 5px;
//             padding: 0px;
//             margin-left: 30px;
//             font-size: 18px;
//             margin-right: -5px;        }
//         .row2
//     {
//        margin-top: -10px
//     }
//     .alert-md .alert-radio-icon {
//         left: 13px;
//         top: 0;
//         border-radius: 50%;
//         position: relative;
//         display: none !important;
//         width: 16px;
//         height: 16px;
//         border-width: 2px;
//         border-style: solid;
//         border-color: #787878;
//     }
//     .row3
//     {
//         .item-md.item-block .item-inner
//         {
//             border-bottom: none;
//         }
//         width: 99.9%;
//       margin-top: 13px;
//       ion-select {
//         display: -webkit-box;
//         display: -webkit-flex;
//         display: -ms-flexbox;
//         display: flex;
//         overflow: hidden;
//         max-width:75%;
//     }
// }
//     }
//     @media screen  and (min-width:850px) and (max-width:899px){
//         [col-8]
//         {
//             margin-right: -175px !important;
//         }
//         [col-7]
//         {
//             margin-right: -175px !important;
//         }

//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 132% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 132% !important ;
//             width: 132% !important;
//         }
//         [col-6] {
//             margin-right: -110px !important;
//         }
//         .valid
//         {
//                color: #080808;
//     margin-right: 44%;
//     margin-top: 0px;
//     margin-bottom: 0px;
//         }
//         .form-control
//         {
//             width:79%
//         }
//         .cyear
//         {
//             color: #d63932;
//             margin-top: 5px;
//             padding: 0px;
//             font-size: 18px;
//             margin-right: -1px;
//             z-index: 1;
//             margin-left: 66px;        }
//         .cmodel
//     {
//         color: #d63932;
//     margin-top: 5px;
//     padding: 0px;
//     font-size: 18px;
//     margin-right: -1px;
//     z-index: 1;
//     margin-left: 41px;    }
//         .cmark
//     {
//         margin-top: 5px;
//         padding: 0px;
//         font-size: 18px;
//         margin-right: -1px;
//         z-index: 1;
//         margin-left: 46px;    }
//         .in
//         {
//             border:1px solid #d63932; height:35px ;background-color: #ffffff ;width:715px
//         }
//         .button1
//     {
//         background-color: #449802;
//         // margin-left: 8px;
//         // margin-right: 300px;
//         color: #ffffff;
//         border: 1px solid #d63932;
//         width: 248px;
//         font-size: 18px;
//     }
//         .colm
//         {
//             width: 45.66667%;
//             max-width: 24.66667%;
//         }
//         .name
//         {
//             color: #d63932;
//             margin-top: 5px;
//             padding: 0px;
//             margin-left: 30px;
//             font-size: 18px;
//             margin-right: -5px;        }
//         .row2
//     {
//        margin-top: -10px
//     }
//     .alert-md .alert-radio-icon {
//         left: 13px;
//         top: 0;
//         border-radius: 50%;
//         position: relative;
//         display: none !important;
//         width: 16px;
//         height: 16px;
//         border-width: 2px;
//         border-style: solid;
//         border-color: #787878;
//     }
//     .row3
//     {
//         .item-md.item-block .item-inner
//         {
//             border-bottom: none;
//         }
//         width: 99.9%;
//       margin-top: 13px;
//       ion-select {
//         display: -webkit-box;
//         display: -webkit-flex;
//         display: -ms-flexbox;
//         display: flex;
//         overflow: hidden;
//         max-width:75%;
//     }
// }
//     }
//     @media screen  and (min-width:900px) and (max-width:949px){
//         [col-8]
//         {
//             margin-right: -190px !important;
//         }
//         [col-7]
//         {
//             margin-right: -190px !important;
//         }

//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 133% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 133% !important ;
//             width: 133% !important;
//         }
//         [col-6] {
//             margin-right: -110px !important;
//         }
//         .valid
//         {
//                color: #080808;
//     margin-right: 44%;
//     margin-top: 0px;
//     margin-bottom: 0px;
//         }
//         .form-control
//         {
//             width:79%
//         }
//         .cyear
//         {
//             color: #d63932;
//             margin-top: 5px;
//             padding: 0px;
//             font-size: 18px;
//             margin-right: -1px;
//             z-index: 1;
//             margin-left: 66px;        }
//         .cmodel
//     {
//         color: #d63932;
//     margin-top: 5px;
//     padding: 0px;
//     font-size: 18px;
//     margin-right: -1px;
//     z-index: 1;
//     margin-left: 41px;    }
//         .cmark
//     {
//         margin-top: 5px;
//         padding: 0px;
//         font-size: 18px;
//         margin-right: -1px;
//         z-index: 1;
//         margin-left: 46px;    }
//         .in
//         {
//             border:1px solid #d63932; height:35px ;background-color: #ffffff ;width:715px
//         }
//         .button1
//     {
//         background-color: #449802;
//         // margin-left: 8px;
//         // margin-right: 300px;
//         color: #ffffff;
//         border: 1px solid #d63932;
//         width: 248px;
//         font-size: 18px;
//     }
//         .colm
//         {
//             width: 45.66667%;
//             max-width: 24.66667%;
//         }
//         .name
//         {
//             color: #d63932;
//             margin-top: 5px;
//             padding: 0px;
//             margin-left: 30px;
//             font-size: 18px;
//             margin-right: -5px;        }
//         .row2
//     {
//        margin-top: -10px
//     }
//     .alert-md .alert-radio-icon {
//         left: 13px;
//         top: 0;
//         border-radius: 50%;
//         position: relative;
//         display: none !important;
//         width: 16px;
//         height: 16px;
//         border-width: 2px;
//         border-style: solid;
//         border-color: #787878;
//     }
//     .row3
//     {
//         .item-md.item-block .item-inner
//         {
//             border-bottom: none;
//         }
//         width: 99.9%;
//       margin-top: 13px;
//       ion-select {
//         display: -webkit-box;
//         display: -webkit-flex;
//         display: -ms-flexbox;
//         display: flex;
//         overflow: hidden;
//         max-width:75%;
//     }
// }
//     }
//     @media screen  and (min-width:950px) and (max-width:999px){
//         [col-8]
//         {
//             margin-right: -205px !important;
//         }
//         [col-7]
//         {
//             margin-right: -205px !important;
//         }
//         ion-input {
//             position: relative;
//             display: block;
//             -webkit-box-flex: 1;
//             -webkit-flex: 1;
//             -ms-flex: 1;
//             flex: 1;
//             width: 133% !important;
//             text-align: right;
//                 }
//         ion-select {
//             display: -webkit-box;
//             display: -webkit-flex;
//             display: -ms-flexbox;
//             display: flex;
//             overflow: hidden;
//             max-width: 133% !important ;
//             width: 133% !important;
//         }
//         [col-6] {
//             margin-right: -110px !important;
//         }
//         .valid
//         {
//                color: #080808;
//     margin-right: 44%;
//     margin-top: 0px;
//     margin-bottom: 0px;
//         }
//         .form-control
//         {
//             width:79%
//         }
//         .cyear
//         {
//             color: #d63932;
//             margin-top: 5px;
//             padding: 0px;
//             font-size: 18px;
//             margin-right: -1px;
//             z-index: 1;
//             margin-left: 66px;        }
//         .cmodel
//     {
//         color: #d63932;
//     margin-top: 5px;
//     padding: 0px;
//     font-size: 18px;
//     margin-right: -1px;
//     z-index: 1;
//     margin-left: 41px;    }
//         .cmark
//     {
//         margin-top: 5px;
//         padding: 0px;
//         font-size: 18px;
//         margin-right: -1px;
//         z-index: 1;
//         margin-left: 46px;    }
//         .in
//         {
//             border:1px solid #d63932; height:35px ;background-color: #ffffff ;width:715px
//         }
//         .button1
//     {
//         background-color: #449802;
//         // margin-left: 8px;
//         // margin-right: 300px;
//         color: #ffffff;
//         border: 1px solid #d63932;
//         width: 248px;
//         font-size: 18px;
//     }
//         .colm
//         {
//             width: 45.66667%;
//             max-width: 24.66667%;
//         }
//         .name
//         {
//             color: #d63932;
//             margin-top: 5px;
//             padding: 0px;
//             margin-left: 30px;
//             font-size: 18px;
//             margin-right: -5px;        }
//         .row2
//     {
//        margin-top: -10px
//     }
//     .alert-md .alert-radio-icon {
//         left: 13px;
//         top: 0;
//         border-radius: 50%;
//         position: relative;
//         display: none !important;
//         width: 16px;
//         height: 16px;
//         border-width: 2px;
//         border-style: solid;
//         border-color: #787878;
//     }
//     .row3
//     {
//         .item-md.item-block .item-inner
//         {
//             border-bottom: none;
//         }
//         width: 99.9%;
//       margin-top: 13px;
//       ion-select {
//         display: -webkit-box;
//         display: -webkit-flex;
//         display: -ms-flexbox;
//         display: flex;
//         overflow: hidden;
//         max-width:75%;
//     }
// }
//     }


    .deleteIcon {
        position: absolute !important;
        color: #d63932 !important;
        // margin-left: 80% !important;
        margin-right: 62% !important;

      }
      .deleteIcon:before {
        font-size: 25px !important;
      }

      .menu
              {
                  color:#ffffff !important;
                   font-weight:500 !important; 
                   margin-left:-11px !important;
                   font-size:25px !important;
                   margin-right: -15px;
              }


    //   .button1:not(:disabled):not(.disabled):active{
    //     color: brown;
    //     // background-color: yellow !important;
    //     // border-color: yellow !important;
    // }
      
}
