
<ion-header>

    <ion-navbar color="danger" hideBackButton >
      <ion-buttons left >
        <button ion-button icon-only (click)="search()">
          <ion-icon name="search"></ion-icon>
        </button>
        </ion-buttons>
     
     
      <ion-title>عروض الضحيان</ion-title>
      <ion-buttons right >
        <button ion-button icon-only (click)="openmenu()">
          <ion-icon name="menu" ></ion-icon> 
        </button>
        </ion-buttons>
        
    <!-- </ion-navbar> -->
      <!-- <ion-row>
          <ion-col class="search" (click)="search()" >
              <ion-icon name="search" class="search2"></ion-icon>
            </ion-col>
            <ion-col >
            <h2 style="margin-right: 8px; color:#ffffff ;margin-top: 10px;font-size:18px">عروض الضحيان</h2>
          </ion-col>
   
        
      </ion-row> -->
    </ion-navbar>    
  </ion-header>


<ion-content padding style="background-color:#fdeeee " fullscreen #myContent1>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        refreshingSpinner="circles">
        </ion-refresher-content>
      </ion-refresher>
    <ion-toolbar class="toolbarsidemenu" >
        <ion-segment [(ngModel)]="offers">
          <ion-segment-button value="cars">
            عروض السيارات
          </ion-segment-button>
          <ion-segment-button  value="maintain" >
            عروض الصيانه
                   
          </ion-segment-button>
    
        </ion-segment>
      </ion-toolbar >

      <div [ngSwitch]="offers" style="width:100%">
        <div *ngSwitchCase="'cars'" style="width:100%">
          <ion-grid style="width:100%">
              <h4 *ngIf="show == false" style="    color: #d63932;
                    text-align: center;
                    margin-top: 200px;
                    font-size: 1.8rem;">لا توجد عروض في الوقت الحالي</h4>
              <div class="div" style="width:100%"  *ngFor="let item of alldata"  >
                  <ion-row  style="width:100%">
                <ion-col col-5 (click)="opendetails(item.name,item.offer_id,item.car_id)" style="border: 1px solid #d1d0d0;">
                  <span class="discount" *ngIf="(item.offer_discount >'0') "> <span >خصم</span><br><span> {{item.offer_discount}}% </span></span>
                
                  <img  [defaultImage]="defaultimage" [scrollObservable]="myContent1.ionScroll" [lazyLoad]="img+item.image" class="img" style="height:100%;object-fit: contain;max-height: 100px;">

                  <!-- <img *ngIf="item.images.length > 0"  src="{{img+item.images[0].image_name}}" class="img" > -->

                  </ion-col>
                <ion-col col-6 class="deatilsc" (click)="opendetails(item.name,item.offer_id,item.car_id)">
                  
                    <ion-row >
                        <ion-col col-12 style="padding:0px">

                    <p class="name"> {{item.offer_name}}</p>
                        </ion-col>
                  </ion-row>
                <ion-row class="row1" style="    margin-top: 0px;">
                    <ion-col col-12 style="padding:0px" *ngIf="(item.price_after >'0') && (item.price_before >'0') " >

                    <p class="price" style="font-weight: bold;">  <span> {{item.price_after}} ر.س (شامل الضريبه)</span>
                      
                     <span style="color:#4e4e4e;font-weight: bold;">
                           بدلا من
                         </span> 
                         <del style="color:#dc9b02;font-weight: bold;">{{item.price_before}} ر.س</del> 
                        </p> 
                    </ion-col>
                 

                    <ion-col col-12 style="padding:0px" *ngIf="(item.price_after >'0') && (item.price_before == '0' || item.price_before == ' ') " >

                      <p class="price" style="font-weight: bold;">  <span> {{item.price_after}} ر.س (شامل الضريبه)</span>
                          </p> 
                      </ion-col>


                    <ion-col col-12 style="padding:0px" *ngIf="(item.price_before >'0') && (item.price_after == '0' || item.price_after == ' ') " >

                      <p class="price" style="font-weight: bold;">  <span> {{item.price_before}} ر.س (شامل الضريبه)</span>
                          </p> 
                      </ion-col>

                     



                 
                      </ion-row>
                        <ion-row style="    margin-top: 9px;" *ngIf="!(item.engine_capacity==null)">
                            <ion-col col-12 style="padding:0px">

                        <p class="engin"> سعه المحرك : {{item.engine_capacity}} لتر</p>
                            </ion-col>
                         
                      </ion-row>
                      <ion-row style="    margin-top: 4px;" *ngIf="!(item.engine_power==null)">
                          <ion-col col-12 style="padding:0px">

                        <p class="power"> قوه المحرك : {{item.engine_power}} </p>
                          </ion-col>
                      </ion-row>
                                  
                  
                </ion-col>
                <ion-col col-1 class="col4" style="  margin-right:-22px;">
                    <ion-row  (click)="shareoffer(item.offer_id,item.offer_name,item.price_after,item.price_before,img+item.image)">
                        <ion-icon ios="md-share" md="md-share" class="share" > </ion-icon>
                  </ion-row>
                    <ion-row  (click)="opendetails(item.name,item.offer_id,item.car_id)">
                        <ion-icon name="ios-more" class="more" > </ion-icon>
            
                      </ion-row>
                  </ion-col>
              </ion-row>
              
              </div>
           
          </ion-grid>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
        <div *ngSwitchCase="'maintain'" style="width:100%">
            <h4 *ngIf="show1 == false" style="color: #d63932;
            text-align: center;
            margin-top: 200px;
            font-size: 1.8rem;">لا توجد عروض في الوقت الحالي</h4>
            <ion-grid style="width:100%">
              
              <!-- height: 130px; -->
                <div style="width:100%" class="div" *ngFor="let item of getdata" >
                    <ion-row style="width:100%;">
                  <ion-col col-4 (click)="opendetails2(item.name,item.id)" style="padding: 0px !important;">
                    <span class="discount" *ngIf="(item.discount >'0') "> <span >خصم</span><br><span> {{item.discount}}% </span></span>
                    <!-- <img    src="{{img+item.image}}" class="img" > -->

                    <!-- height: 130px; -->
                    <!-- class="img" -->
                    <!-- class="img" -->
                    <!-- <div style="background-color: #d63932; text-align: center;    height: 116px;    vertical-align: middle;    display: table-cell;"> -->
                      <!-- height: 130px;height: 130px; -->
                      <img  [defaultImage]="defaultimage"   [scrollObservable]="myContent1.ionScroll" [lazyLoad]="img+item.image"  style="border: 1px solid #d1d0d0;height: 100%;width: 100%;object-fit: contain;max-height: 100px;">

                    <!-- </div> -->
                  
    
                    </ion-col>
                  <ion-col col-7 class="deatilsc" (click)="opendetails2(item.name,item.id)">
                    <ion-row  style="width:100%;">
                        <ion-col col-12 style="padding:0px">

                           <p class="name"> {{item.name}}&#x200E;</p>
                        </ion-col>
                    </ion-row>
                    <ion-row class="rows" style="    margin-top: 8px;width: 100%;">
                      <ion-col col-12 *ngIf="(item.price_after >'0') && (item.price_before >'0') ">
                           <p class="price" style="font-weight: bold;">  <span> {{item.price_after}} ر.س </span>
                            <span style="color:#4e4e4e;font-weight: bold;">
                                  بدلا من
                                </span> 
                                <del style="color:#ca9423;font-weight: bold;">{{item.price_before}} ر.س</del> 
                               </p> 
                              </ion-col>
                          

                              <ion-col col-12 *ngIf="(item.price_after >'0') && (item.price_before == '0' || item.price_before == ' ') ">
                                <p class="price" style="font-weight: bold;">  <span> {{item.price_after}} ر.س </span>
                                    </p> 
                                   </ion-col>

                                   <ion-col col-12 *ngIf="(item.price_before >'0') && (item.price_after == '0' || item.price_after == ' ') ">
                                    <p class="price" style="font-weight: bold;">  <span> {{item.price_before}} ر.س </span>
                                        </p> 
                                       </ion-col>



                              </ion-row>
                                <ion-row style="margin-top: 7px;" *ngIf="item.offer_start">
                                 <p class="engin" style="    margin-left: 5px;" > الفتره من  </p> <p style="direction:rtl" class="engin">{{item.offer_start}} </p>
                                </ion-row>
                                <ion-row *ngIf="item.offer_end">
                                 <p class="engin2" style="    margin-left: 5px;"> الى </p><p class="engin2" style="direction:rtl">{{item.offer_end}}</p>
                    </ion-row>
                  </ion-col>
                  <ion-col col-1 class="col4"  style=" margin-right:-22px;">
                      <ion-row (click)="shareoffer2(item.id,item.name,item.price_after,item.price_before,img+item.image)">
                            <ion-icon ios="md-share" md="md-share" class="share" > </ion-icon>
                      </ion-row>
                      <ion-row (click)="opendetails2(item.name,item.id)">
                          <span >
                              <ion-icon name="ios-more" class="more" > </ion-icon>
                            </span>              
                        </ion-row>
                    </ion-col>
                </ion-row>
                
                </div>
                
            </ion-grid>

            <ion-infinite-scroll (ionInfinite)="doInfinite2($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>


          </div>
      </div>
</ion-content>
